# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. SQL
5. Java
6. C++
7. Julia

#### Some of the commonly used libraries used by Data Scientists include:
1.  Scikit-learn
2. TensorFlow
3. Apache Spark
4. Matplotlib
5. Seaborn
6. Keras
7. Pandas

|  Data Science Tools  |
---------------------------
| Jupyter |
| RStudio |
| Apache Spark |

###  Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
a=5
b=3

print(a+b)
print(a-b)

In [5]:
#  This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
min=200
hrs=min/60
print(hrs)

3.3333333333333335

## **Objectives:**
- List popular languages for Data Science
- List libraries used by Data Scientists
- Three development environment open source tools used in data science.
- Few examples of evaluating arithmetic expressions in Python

## Author
Aaditya Dalvi